@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --ox: rgb(236, 237, 102);
    --oy: rgb(0, 0, 0);
}


* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    background: var(--ox);
}

/*Header*/
.main-header {
    padding: 30px 0px 30px 0px;
    background: var(--oy);
}

.header-box {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    background: var(--oy);
}

/*Buttons*/
.hire, .github {
    padding: 10px 20px 10px 20px;
    border-radius: none;
    background: transparent;
    border: 2px solid var(--ox);
    color: var(--ox);
    font-family: 'DM Sans', sans-serif; 
    font-weight: 500;
    font-size: 20px;
    margin-left: 3px;
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
}

.hire:hover, .github:hover {
    color: var(--oy);
    background: var(--ox);
}


/*Body Content*/
.body-content {
    margin-top: 70px;

}

.header2 {
    max-width: 650px;
    margin: 0 auto;
}

.lineheader {
    border-top: 8px solid var(--oy);
}

.titleheader {
    font-family: 'DM Sans', sans-serif; 
    font-weight: 500;
    font-size: 30px;
    max-width: 550px;
    padding: 20px 0px 20px 0px;
    margin: 0 auto;
}

.desc-header {
    font-family: 'DM Sans', sans-serif; 
    font-weight: 500;
    font-size: 20px;
    max-width: 650px;
    padding: 50px 0px 50px 0px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-section {
    max-width: 650px;
    margin: 0 auto;
}

.img1 {
    width: 100%;
}

/*Content*/
.contentarea {
    font-family: Merriweather;
    font-weight: 500;
    font-size: 20px;
    max-width: 650px;
    padding: 0px 0px 50px 0px;
    margin: 0 auto;
    line-height: 35px;
}

.content-text::first-letter{
    font-size: 4rem;
    font-weight: bold;
}